<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
<!ELEMENT contact ANY>
<!ATTLIST contact id ID #REQUIRED>
]>
<root id="-1">
  <home id="1056" key="a2d909db-03b8-49bd-9cb9-d3f16da35d62" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2017-11-23T17:29:08" updateDate="2017-11-27T11:29:44" nodeName="Home" urlName="home" path="-1,1056" isDoc="" nodeType="1055" creatorName="Anjali" writerName="Anjali" writerID="0" template="1054" nodeTypeAlias="home" isPublished="true">
    <header><![CDATA[Welcome to home page]]></header>
  </home>
  <contact id="1062" key="4d94898a-b4db-487d-ab73-7013b0210926" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2017-11-23T19:09:07" updateDate="2017-11-23T19:09:07" nodeName="Contact" urlName="contact" path="-1,1062" isDoc="" nodeType="1060" creatorName="Anjali" writerName="Anjali" writerID="0" template="1059" nodeTypeAlias="contact" isPublished="true">
    <contactPage><![CDATA[Contact us page]]></contactPage>
  </contact>
</root>