<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT test ANY>
<!ATTLIST test id ID #REQUIRED>
<!ELEMENT photos ANY>
<!ATTLIST photos id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
<!ELEMENT index ANY>
<!ATTLIST index id ID #REQUIRED>
<!ELEMENT login ANY>
<!ATTLIST login id ID #REQUIRED>
]>
<root id="-1">
  <home id="1097" key="af604a98-8e2c-4615-acd7-457b72324d67" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2017-12-05T16:06:44" updateDate="2017-12-07T16:25:25" nodeName="Home" urlName="home" path="-1,1097" isDoc="" nodeType="1092" creatorName="Anjali" writerName="Anjali" writerID="0" template="1091" nodeTypeAlias="home" isPublished="true">
    <headerText><![CDATA[Umbraco -Content Management Sysetm]]></headerText>
    <background><![CDATA[/media/1004/grads.jpg]]></background>
    <bodyText><![CDATA[{
  "name": "col3",
  "sections": [
    {
      "grid": 4,
      "rows": [
        {
          "label": "Headline",
          "name": "Headline",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": [
                {
                  "value": {
                    "id": 1094,
                    "udi": "umb://media/66bca64fe06846838165fccf1aa5f9ce",
                    "image": "/media/1001/cms.jpg",
                    "caption": "CMS CONTENT"
                  },
                  "editor": {
                    "alias": "media"
                  },
                  "active": false
                },
                {
                  "value": "<p style=\"text-align: left;\"><em>This extension method will make sure that you always get an instance of <a href=\"https://github.com/skybrud/Skybrud.Umbraco.GridData/blob/master/src/Skybrud.Umbraco.GridData/GridDataModel.cs\">GridDataModel</a>, and handle all the necessary null checking for you. Even if the property doesn't exist or the property isn't based on a grid layout, you will still get an instance of <a href=\"https://github.com/skybrud/Skybrud.Umbraco.GridData/blob/master/src/Skybrud.Umbraco.GridData/GridDataModel.cs\">GridDataModel</a>.</em></p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "1597d7ed-0098-58df-ff7a-67bbf2636fb6"
        }
      ]
    },
    {
      "grid": 4,
      "rows": [
        {
          "label": "Headline",
          "name": "Headline",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": [
                {
                  "value": {
                    "id": 1095,
                    "udi": "umb://media/4a86c32c8cf040ffa0c1af424cadd54c",
                    "image": "/media/1002/images.png",
                    "caption": "UMBRACO CMS"
                  },
                  "editor": {
                    "alias": "media"
                  },
                  "active": false
                },
                {
                  "value": "<p><span>Umbraco is an open source content management system platform for publishing content on the World Wide Web and intranets. It is written in C# and deployed on Microsoft based infrastructure.</span></p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "4f5175e3-c22c-46cb-a226-e7dbf8d4db2b"
        }
      ]
    },
    {
      "grid": 4,
      "rows": [
        {
          "label": "Headline",
          "name": "Headline",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p><img id=\"__mcenew\" style=\"display: block; margin-left: auto; margin-right: auto;\" src=\"/media/1003/drupal.jpg?width=136&amp;height=172\" alt=\"\" width=\"136\" height=\"172\" data-udi=\"umb://media/e700e2bf962b41c5a5b7bfc1e3f32dba\" /></p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                },
                {
                  "value": "<p style=\"text-align: left;\"><span>Drupal, a free and open source content-management framework written in PHP and distributed under the GNU General Public License.</span></p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "770f766d-dd84-0f06-2187-f82b0348cdfa"
        }
      ]
    }
  ]
}]]></bodyText>
    <gridContent><![CDATA[{
  "name": "grid1",
  "sections": [
    {
      "grid": 4,
      "rows": [
        {
          "name": "col3",
          "areas": [
            {
              "grid": 4,
              "hasConfig": false,
              "controls": []
            },
            {
              "grid": 4,
              "hasConfig": false,
              "controls": []
            },
            {
              "grid": 4,
              "hasConfig": false,
              "controls": []
            }
          ],
          "label": "",
          "hasConfig": false,
          "id": "36896068-cd9c-59e0-3ed5-08f99b4f3f78"
        }
      ]
    },
    {
      "grid": 4,
      "rows": []
    },
    {
      "grid": 4,
      "rows": []
    }
  ]
}]]></gridContent>
    <footerText><![CDATA[Umbraco was developed by Niels Hartvig in 2000 and released as open source software in 2004.[4] In 2009, CMS Wire described it as one of the leading .NET-based open source CMS systems.[5][6] In 2010, with 1000 downloads a day]]></footerText>
    <images><![CDATA[umb://media/66bca64fe06846838165fccf1aa5f9ce,umb://media/4a86c32c8cf040ffa0c1af424cadd54c,umb://media/e700e2bf962b41c5a5b7bfc1e3f32dba,umb://media/61bca9fb0ddb45878bd19f9d4bbe2adb,umb://media/28a962383fb84d1e9cfcdd6872a2bfc8,umb://media/83eb03e3f7c246cbb94f27babf7eacd3,umb://media/5629203be50f4147b0c7890b6e01ea32,umb://media/6e68e7a6a3be4c138923b96c52faf3ba]]></images>
  </home>
  <index id="1125" key="cf46047c-0cd2-4c6d-b09d-18f9c933294f" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2017-12-06T14:20:03" updateDate="2017-12-07T15:47:14" nodeName="HomePageContent" urlName="homepagecontent" path="-1,1125" isDoc="" nodeType="1121" creatorName="Anjali" writerName="Anjali" writerID="0" template="1108" nodeTypeAlias="index" isPublished="true">
    <webisteName><![CDATA[Helios]]></webisteName>
    <info><![CDATA[{
  "name": "",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "name": "col3",
          "areas": [
            {
              "grid": 4,
              "hasConfig": false,
              "controls": [
                {
                  "value": "<h4 class=\"font-bold no-margins\" style=\"text-align: center;\">Generally Speaking</h4>\n<p style=\"text-align: left; padding-left: 30px;\">A weekly message from our \"General\" Mr. Bob Snyder.</p>\n<p><img id=\"__mcenew\" style=\"display: block; margin-left: auto; margin-right: auto;\" src=\"/media/1010/delayed_gratification.png?width=204&amp;height=124\" alt=\"\" width=\"204\" height=\"124\" data-udi=\"umb://media/6f13838aa80445a6ad46ce15db19b084\" /></p>\n<h5 class=\"media-heading\">5*Certification</h5>\n<p>This week, Bob talks about the importance of becoming 5*certified and how you can help your team or yourself reach that all-important milestone.</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 4,
              "hasConfig": false,
              "controls": [
                {
                  "value": "<h4 class=\"font-bold no-margins\" style=\"text-align: center;\">Money Mastery</h4>\n<p style=\"padding-left: 30px;\">A daily reminder about understanding money.</p>\n<p><img id=\"__mcenew\" style=\"display: block; margin-left: auto; margin-right: auto;\" src=\"/media/1011/money_mastery.png?width=210&amp;height=128\" alt=\"\" width=\"210\" height=\"128\" data-udi=\"umb://media/b8f93487fb5f422eba62066d5d0d4911\" /></p>\n<h5 class=\"media-heading\">From Skid Row to Millionaire</h5>\n<p>Today, Woody tells the story of Khalil Rafati. Now a millionaire entrepreneur, it was only a few short years ago that he was living on the streets of Los Angeles.</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 4,
              "hasConfig": false,
              "controls": [
                {
                  "value": "<div class=\"m-b-md\" style=\"bacckground-color: grey;\">\n<h4 class=\"font-bold no-margins\" style=\"text-align: center;\">Founder's Webinar</h4>\n</div>\n<div class=\"m-b-md\" style=\"padding-left: 30px;\">A weekly webinar hosted by our corporate office.</div>\n<div class=\"m-b-md\" style=\"padding-left: 30px;\"></div>\n<p><img id=\"__mcenew\" style=\"display: block; margin-left: auto; margin-right: auto;\" src=\"/media/1012/renatus_review.png?width=219&amp;height=133\" alt=\"\" width=\"219\" height=\"133\" data-udi=\"umb://media/2377a62006af46dfbdeff36155fae7cd\" /></p>\n<h5 class=\"media-heading\">Get Ready for NATIONALS!</h5>\n<p>If you haven't reserved your seat for nationals, you better hurry. This week we are giving a preview of what is set to be the biggest nationals yet.</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "03b2f8d1-3108-064c-0409-0c9b10eb0703"
        },
        {
          "label": "Headline",
          "name": "Headline",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": [
                {
                  "value": "Your current leaders...\nIn first place is Scott and Nanci Rowe of Downers Grove, IL. Behind them in second place is Mitch Nelson of Salt Lake City, UT. Not far off in third place is Michael Huggins from Salt Lake City, UT. Jon O'Neal from Salt Lake City, UT is holding down the fourth place spot, and rounding out the top five is James Leis of Sacramento, CA. Keep up the great work and see if YOU can make it into to TOP FIVE!",
                  "editor": {
                    "alias": "quote"
                  },
                  "active": false
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "80254794-788d-886b-73f8-83ad7b909c91"
        }
      ]
    }
  ]
}]]></info>
    <header><![CDATA[<p><img style="width: 193px; height: 130px;" src="/media/1008/helios-logo.jpg?width=193&amp;height=130" alt="" data-udi="umb://media/5629203be50f4147b0c7890b6e01ea32" /></p>
<h1>Welcome to HELIOS Base</h1>
<div class="HelSubheading">The idea behind it</div>
<p>HELIOS Base builds the platform in the modular HELIOS products line. It is comprised of the LPR printing system, printer drivers, the HELIOS Installer, Unicode support, ICC profiles, utilities, libraries, the “license” program, which lets you enter software licenses for all HELIOS products, the HELIOS Service Controller, the HELIOS Update Installer, and tools (“start-helios”, “stop-helios”, etc.).</p>
<div class="HelSubheading"></div>
<div class="HelSubheading">HELIOS user expansion licenses</div>
<p>Keep in mind that – in case you buy several HELIOS user expansion licenses – you should make a long-term decision about which license you want to use on which server machine and about which license you want to use as the base product for expansions. These expansions always remain bound to the original EtherShare, PCShare or WebShare product.</p>
<div class="HelSubheading"><a id="a00004" name="a00004" class="HelAnchor"></a></div>]]></header>
  </index>
  <login id="1129" key="a9b8a077-8af2-4850-8c4b-816cdfd224be" parentID="-1" level="1" creatorID="0" sortOrder="2" createDate="2017-12-06T17:28:17" updateDate="2017-12-06T17:28:17" nodeName="Login" urlName="login" path="-1,1129" isDoc="" nodeType="1127" creatorName="Anjali" writerName="Anjali" writerID="0" template="1126" nodeTypeAlias="login" isPublished="true">
    <headerText><![CDATA[header]]></headerText>
  </login>
  <home id="1135" key="c7c6798f-2110-4e65-a989-b71b521f12bc" parentID="-1" level="1" creatorID="0" sortOrder="3" createDate="2017-12-07T16:24:49" updateDate="2017-12-07T16:24:49" nodeName="HomeContent" urlName="homecontent" path="-1,1135" isDoc="" nodeType="1092" creatorName="Anjali" writerName="Anjali" writerID="0" template="0" nodeTypeAlias="home" isPublished="true">
    <headerText><![CDATA[umbraco Content Management System]]></headerText>
    <background><![CDATA[/media/1013/content1.jpg]]></background>
    <bodyText><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": []
    }
  ]
}]]></bodyText>
    <gridContent><![CDATA[{
  "name": "grid1",
  "sections": [
    {
      "grid": 4,
      "rows": []
    },
    {
      "grid": 4,
      "rows": []
    },
    {
      "grid": 4,
      "rows": []
    }
  ]
}]]></gridContent>
    <images><![CDATA[umb://media/66bca64fe06846838165fccf1aa5f9ce,umb://media/4a86c32c8cf040ffa0c1af424cadd54c,umb://media/e700e2bf962b41c5a5b7bfc1e3f32dba,umb://media/61bca9fb0ddb45878bd19f9d4bbe2adb,umb://media/28a962383fb84d1e9cfcdd6872a2bfc8,umb://media/5629203be50f4147b0c7890b6e01ea32,umb://media/83eb03e3f7c246cbb94f27babf7eacd3,umb://media/6e68e7a6a3be4c138923b96c52faf3ba]]></images>
  </home>
  <photos id="1138" key="5f76129b-e902-4f42-bf8f-f37de7c1df31" parentID="-1" level="1" creatorID="0" sortOrder="4" createDate="2017-12-07T16:55:14" updateDate="2017-12-11T11:50:03" nodeName="PhotoContent" urlName="photocontent" path="-1,1138" isDoc="" nodeType="1137" creatorName="Anjali" writerName="Anjali" writerID="0" template="1136" nodeTypeAlias="photos" isPublished="true">
    <description><![CDATA[dteghsyeghfbcn]]></description>
    <image><![CDATA[umb://media/66bca64fe06846838165fccf1aa5f9ce,umb://media/4a86c32c8cf040ffa0c1af424cadd54c,umb://media/8534cb75c47b4fec9a9fa716c6a6c169,umb://media/242051dc522948a4a1a2b78271c10c1f,umb://media/a4ad9302f600409cb4a0ef5a5727c787,umb://media/c4db37782b634ee597166dccca31ca3c,umb://media/ca27492aa5604debbdbb008c4be0123f,umb://media/21c37cbe516547648f8e428bee3f38b5,umb://media/e1224a0af905451da76d615980ac27a8,umb://media/8e53e9accabe410383505b09a965979b,umb://media/61bca9fb0ddb45878bd19f9d4bbe2adb]]></image>
  </photos>
  <test id="1142" key="d9bbb57a-36c2-4985-a07f-f3a6bc81daac" parentID="-1" level="1" creatorID="0" sortOrder="5" createDate="2017-12-08T12:02:27" updateDate="2017-12-08T17:11:47" nodeName="TestContent" urlName="testcontent" path="-1,1142" isDoc="" nodeType="1140" creatorName="Anjali" writerName="Anjali" writerID="0" template="1139" nodeTypeAlias="test" isPublished="true">
    <bodyText><![CDATA[<?UMBRACO_MACRO macroAlias="ImageDisplayMacro" mediaIds="1094,1095,1096,1103,1104,1106,1105,1107,1133,1131,1132" />
<p><span>Umbraco Mapper has been developed to support a more pure MVC approach to building Umbraco applications. One feature is supplies is the ability to add your own custom mapping methods. </span></p>]]></bodyText>
  </test>
  <test id="1143" key="c892928b-1843-4cbe-875a-56195368e932" parentID="-1" level="1" creatorID="0" sortOrder="6" createDate="2017-12-08T12:05:25" updateDate="2017-12-08T12:05:25" nodeName="Test1Content" urlName="test1content" path="-1,1143" isDoc="" nodeType="1140" creatorName="Anjali" writerName="Anjali" writerID="0" template="1139" nodeTypeAlias="test" isPublished="true" />
</root>