@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Test>
@using ContentModels=Umbraco.Web.PublishedContentModels;
@{
	Layout = null;
}

@* the fun starts here *@
<h1>Page links successfully</h1>

