<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT blogPost ANY>
<!ATTLIST blogPost id ID #REQUIRED>
<!ELEMENT blog ANY>
<!ATTLIST blog id ID #REQUIRED>
<!ELEMENT login ANY>
<!ATTLIST login id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
<!ELEMENT newsOverview ANY>
<!ATTLIST newsOverview id ID #REQUIRED>
<!ELEMENT news ANY>
<!ATTLIST news id ID #REQUIRED>
<!ELEMENT page ANY>
<!ATTLIST page id ID #REQUIRED>
<!ELEMENT gridTest ANY>
<!ATTLIST gridTest id ID #REQUIRED>
]>
<root id="-1">
  <login id="1054" key="2678376f-65f0-4be2-a7ca-ad5224313f53" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2017-11-27T19:47:45" updateDate="2017-11-28T15:19:12" nodeName="LoginUser" urlName="loginuser" path="-1,1054" isDoc="" nodeType="1052" creatorName="anjali" writerName="anjali" writerID="0" template="1051" nodeTypeAlias="login" isPublished="true">
    <logo><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "src": "/media/1001/helios-logo.jpg"
}]]></logo>
    <backgroundImage><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "src": "/media/1002/background.jpg"
}]]></backgroundImage>
  </login>
  <newsOverview id="1060" key="cea2ce0b-456c-41de-b6ce-5046fa6c6314" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2017-11-29T18:05:25" updateDate="2017-11-29T20:01:43" nodeName="News" urlName="news" path="-1,1060" isDoc="" nodeType="1059" creatorName="anjali" writerName="anjali" writerID="0" template="1058" nodeTypeAlias="newsOverview" isPublished="true">
    <newsTitle><![CDATA[<p style="text-align: center;"><strong>.Net based</strong></p>
<p style="text-align: center;"><strong><img style="width: 0px; height: 0px;" src="/umbraco/nothing.jpg" alt="" data-udi="umb://media/760fb10eb4ae4cac82144fd025b26dae" /></strong></p>]]></newsTitle>
    <newsBodyText><![CDATA[<p>Umbraco is based on MVC.Net</p>]]></newsBodyText>
  </newsOverview>
  <home id="1079" key="1571a8d2-9b90-4005-9653-95ff87d45970" parentID="-1" level="1" creatorID="0" sortOrder="4" createDate="2017-11-30T13:11:30" updateDate="2017-11-30T13:11:30" nodeName="Getting Started" urlName="getting-started" path="-1,1079" isDoc="" nodeType="1057" creatorName="anjali" writerName="anjali" writerID="0" template="1056" nodeTypeAlias="home" isPublished="true">
    <image><![CDATA[umb://media/559bf430a04845508822b0ced489a2ce]]></image>
    <featuredPage>1</featuredPage>
    <pageTitle><![CDATA[Getting started]]></pageTitle>
  </home>
  <home id="1080" key="88ec33d4-69a1-4693-9a30-f0a3ec57fa69" parentID="-1" level="1" creatorID="0" sortOrder="5" createDate="2017-11-30T13:12:28" updateDate="2017-11-30T13:12:28" nodeName="CMS" urlName="cms" path="-1,1080" isDoc="" nodeType="1057" creatorName="anjali" writerName="anjali" writerID="0" template="1056" nodeTypeAlias="home" isPublished="true">
    <image><![CDATA[umb://media/8a14bdc0a97a42789513d6634c342e0c]]></image>
    <featuredPage>1</featuredPage>
    <pageTitle><![CDATA[CMS Functions]]></pageTitle>
  </home>
  <home id="1081" key="d12c64ce-de64-40e9-af1c-64a992c9cf0b" parentID="-1" level="1" creatorID="0" sortOrder="6" createDate="2017-11-30T13:13:05" updateDate="2017-11-30T13:13:05" nodeName="CMS2" urlName="cms2" path="-1,1081" isDoc="" nodeType="1057" creatorName="anjali" writerName="anjali" writerID="0" template="1056" nodeTypeAlias="home" isPublished="true">
    <image><![CDATA[umb://media/2635bb0d6b604fdd9aa6103314a51da9]]></image>
    <featuredPage>1</featuredPage>
    <pageTitle><![CDATA[CMS2]]></pageTitle>
  </home>
  <home id="1082" key="1d070305-26e2-461a-aee7-df3b936128b9" parentID="-1" level="1" creatorID="0" sortOrder="7" createDate="2017-11-30T13:13:50" updateDate="2017-11-30T13:13:50" nodeName="Grads" urlName="grads" path="-1,1082" isDoc="" nodeType="1057" creatorName="anjali" writerName="anjali" writerID="0" template="1056" nodeTypeAlias="home" isPublished="true">
    <image><![CDATA[umb://media/603fe89a6d234428915198a07a3e2789]]></image>
    <featuredPage>1</featuredPage>
    <pageTitle><![CDATA[Graduates]]></pageTitle>
  </home>
  <page id="1086" key="b3ce132c-3eba-461e-8b33-b67f4ae3b5d7" parentID="-1" level="1" creatorID="0" sortOrder="8" createDate="2017-11-30T16:45:14" updateDate="2017-12-01T12:42:20" nodeName="MyPage" urlName="mypage" path="-1,1086" isDoc="" nodeType="1084" creatorName="anjali" writerName="anjali" writerID="0" template="1083" nodeTypeAlias="page" isPublished="true">
    <grid><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "label": "Headline",
          "name": "Headline",
          "areas": [
            {
              "grid": 12,
              "config": {},
              "styles": {
                "background-image": "url(/media/1010/background1.jpg)"
              },
              "hasConfig": true,
              "controls": [
                {
                  "value": "Content Management Systems",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "b9510041-b061-8d3e-d340-e0a7c24d4671"
        },
        {
          "name": "3 delt",
          "areas": [
            {
              "grid": 4,
              "config": {},
              "styles": {},
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p><img id=\"__mcenew\" style=\"display: block; margin-left: auto; margin-right: auto;\" src=\"/media/1004/drupal_logo.png?width=147&amp;height=147\" alt=\"\" width=\"147\" height=\"147\" data-udi=\"umb://media/4f82fcb8ee284ce4b145d0362111fbfa\" /></p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                },
                {
                  "value": "Drupal is CMS used for PHP\nand its open source CMS",
                  "editor": {
                    "alias": "quote"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 4,
              "allowAll": false,
              "allowed": [
                "rte",
                "media",
                "headline"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p><img id=\"__mcenew\" style=\"display: block; margin-left: auto; margin-right: auto;\" src=\"/media/1011/images.png?width=163&amp;height=160\" alt=\"\" width=\"163\" height=\"160\" data-udi=\"umb://media/67425741d9f74f058bfe137c27bb7a54\" /></p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                },
                {
                  "value": "<p><em><strong>Umbraco is the CMS based on MVC frame work. And it is for ASP.NET</strong></em></p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 4,
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p><img id=\"__mcenew\" src=\"nothing.jpg?width=NaN&amp;height=NaN\" alt=\"\" data-udi=\"umb://media/ceacf46f6c2842bfa4254aa29c5f57cc\" /><img id=\"__mcenew\" style=\"display: block; margin-left: auto; margin-right: auto;\" src=\"/media/1012/joomla.png?width=162&amp;height=135\" alt=\"\" width=\"162\" height=\"135\" data-udi=\"umb://media/ceacf46f6c2842bfa4254aa29c5f57cc\" /></p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                },
                {
                  "value": "Joomla is a free and open-source content management system for publishing web conten",
                  "editor": {
                    "alias": "quote"
                  },
                  "active": false
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "a61ee2e1-c3f7-5041-fe88-7520e3753fb3"
        },
        {
          "label": "Headline",
          "name": "Headline",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": [
                {
                  "value": "\"We build our computer (systems) the way we build our cities: over time, without a plan, on top of ruins.\" - \nEllen Ullman",
                  "editor": {
                    "alias": "quote"
                  },
                  "active": false
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "1127a5dd-8337-1be9-3ab5-decb402ce7af"
        }
      ]
    }
  ]
}]]></grid>
  </page>
  <page id="1091" key="c485014f-7975-475f-9527-2873b846dfc9" parentID="-1" level="1" creatorID="0" sortOrder="9" createDate="2017-11-30T17:40:58" updateDate="2017-11-30T18:06:05" nodeName="MyPage2" urlName="mypage2" path="-1,1091" isDoc="" nodeType="1084" creatorName="anjali" writerName="anjali" writerID="0" template="1083" nodeTypeAlias="page" isPublished="true">
    <grid><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "label": "Article",
          "name": "Article",
          "areas": [
            {
              "grid": 4,
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p><img id=\"__mcenew\" src=\"/media/1005/cms.jpg?width=201&amp;height=123\" alt=\"\" width=\"201\" height=\"123\" data-udi=\"umb://media/8a14bdc0a97a42789513d6634c342e0c\" /></p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 8,
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p style=\"padding-left: 30px;\"><em>Both enterprise content management and web content management systems have two components: a content management application (<a href=\"http://searchcontentmanagement.techtarget.com/definition/content-management-application-CMA\">CMA</a>) and a content delivery application (CDA). The CMA is a graphical user interface (GUI) that allows the user to control the creation, modification and removal of content from a website without needing to know anything about <a href=\"http://searchsoa.techtarget.com/definition/HTML\">HTML</a>.  The CDA component provides the back-end services that support management and delivery of the content once it has been created in the CMA.</em></p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "5db0e0f9-cddf-6214-8bc0-8f4c0b0135a3"
        }
      ]
    }
  ]
}]]></grid>
  </page>
  <gridTest id="1098" key="1267fbd3-7492-4d5c-aee6-f9f53ebc720b" parentID="-1" level="1" creatorID="0" sortOrder="10" createDate="2017-12-05T12:15:30" updateDate="2017-12-05T12:15:30" nodeName="GridTest" urlName="gridtest" path="-1,1098" isDoc="" nodeType="1097" creatorName="anjali" writerName="anjali" writerID="0" template="1096" nodeTypeAlias="gridTest" isPublished="true">
    <headerText><![CDATA[Display Grid ]]></headerText>
    <gridContent><![CDATA[{
  "name": "grid3",
  "sections": [
    {
      "grid": 4,
      "rows": [
        {
          "label": "Headline",
          "name": "Headline",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p>chjdjchdjvhjdhbvj</p>\n<p>dhcvjbdfvbjdv</p>\n<p>hcbfjvnm </p>\n<p>dhgcfvjkl</p>\n<p>dhgjv</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ],
              "active": false
            }
          ],
          "hasConfig": false,
          "id": "2526e728-d419-2e27-9a68-98f86d9be653",
          "active": false
        }
      ]
    },
    {
      "grid": 4,
      "rows": [
        {
          "label": "Headline",
          "name": "Headline",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p>dsfvjn</p>\n<p>gdhfvjk</p>\n<p>hdjkm</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ],
              "active": false
            }
          ],
          "hasConfig": false,
          "id": "99bf0699-eea1-17ce-6bf0-2747e7259795",
          "active": false
        }
      ]
    },
    {
      "grid": 4,
      "rows": [
        {
          "label": "Headline",
          "name": "Headline",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p>dvghvjnk </p>\n<p>sghdvkl </p>\n<p>dgfhbj</p>\n<p>dhgfjk</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": true
                }
              ],
              "active": true
            }
          ],
          "hasConfig": false,
          "id": "42d964a7-921e-4afa-69c5-5a191b92b792",
          "hasActiveChild": true,
          "active": true
        }
      ]
    }
  ]
}]]></gridContent>
  </gridTest>
  <blog id="1107" key="57caebd8-d00e-41d9-82f2-b77d0e3e98d9" parentID="-1" level="1" creatorID="0" sortOrder="11" createDate="2017-12-12T13:24:52" updateDate="2017-12-12T16:55:52" nodeName="Blog" urlName="blog" path="-1,1107" isDoc="" nodeType="1106" creatorName="anjali" writerName="anjali" writerID="0" template="1105" nodeTypeAlias="blog" isPublished="true">
    <shortname><![CDATA[abc]]></shortname>
    <howManyPostShouldBeShown><![CDATA[3,10]]></howManyPostShouldBeShown>
    <blogPost id="1108" key="3e228798-7274-42c8-8b1b-663090819705" parentID="1107" level="2" creatorID="0" sortOrder="0" createDate="2017-12-12T13:26:27" updateDate="2017-12-12T13:26:27" nodeName="BlogPost" urlName="blogpost" path="-1,1107,1108" isDoc="" nodeType="1104" creatorName="anjali" writerName="anjali" writerID="0" template="1103" nodeTypeAlias="blogPost" isPublished="true">
      <excerpt><![CDATA[excerpt gives the short description of website]]></excerpt>
      <blogContent><![CDATA[<p>Blog contents will come Under This one</p>]]></blogContent>
      <categories><![CDATA[add cad]]></categories>
      <pageTitle><![CDATA[Title]]></pageTitle>
    </blogPost>
    <blogPost id="1113" key="ec26bb1f-4f20-4a8d-8451-eff478153d80" parentID="1107" level="2" creatorID="0" sortOrder="1" createDate="2017-12-12T16:57:27" updateDate="2017-12-12T16:57:40" nodeName="Blogpost3" urlName="blogpost3" path="-1,1107,1113" isDoc="" nodeType="1104" creatorName="anjali" writerName="anjali" writerID="0" template="1103" nodeTypeAlias="blogPost" isPublished="true">
      <excerpt><![CDATA[It includes  the description about how the things are working]]></excerpt>
      <blogContent><![CDATA[<p>fjgjk</p>
<p>hfken</p>
<p>fjnkn</p>
<p>bnefjb,</p>
<p>nfmn,b</p>
<p>bnvbm </p>
<p>hfbvm </p>]]></blogContent>
      <categories><![CDATA[sk,moon]]></categories>
      <pageTitle><![CDATA[Beyond the sky]]></pageTitle>
    </blogPost>
    <blogPost id="1114" key="4e021ff9-8ee3-469a-b4d6-88d3f0149eff" parentID="1107" level="2" creatorID="0" sortOrder="2" createDate="2017-12-12T16:59:31" updateDate="2017-12-12T16:59:31" nodeName="blogpost2" urlName="blogpost2" path="-1,1107,1114" isDoc="" nodeType="1104" creatorName="anjali" writerName="anjali" writerID="0" template="1103" nodeTypeAlias="blogPost" isPublished="true">
      <excerpt><![CDATA[It includes everything about bits]]></excerpt>
      <blogContent><![CDATA[<p>bits is nothing but 0 and 1  0 to 1 MEANS vertical success</p>]]></blogContent>
      <categories><![CDATA[bits]]></categories>
      <pageTitle><![CDATA[Beyond the bits]]></pageTitle>
    </blogPost>
    <blogPost id="1115" key="34ca7949-4dca-4b53-a8bd-c9c76b39b3e0" parentID="1107" level="2" creatorID="0" sortOrder="3" createDate="2017-12-12T17:00:31" updateDate="2017-12-12T17:00:31" nodeName="blogpost1" urlName="blogpost1" path="-1,1107,1115" isDoc="" nodeType="1104" creatorName="anjali" writerName="anjali" writerID="0" template="1103" nodeTypeAlias="blogPost" isPublished="true">
      <excerpt><![CDATA[blog1]]></excerpt>
      <blogContent><![CDATA[<p>blog 1 decription </p>]]></blogContent>
      <categories><![CDATA[blog1]]></categories>
      <pageTitle><![CDATA[blog 1]]></pageTitle>
    </blogPost>
  </blog>
</root>