@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Login>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}

@* the fun starts here *@

@using(@Html.BeginUmbracoForm("ForgotPassword","LoginSurface"))
{
   <div class="Login">
       <center>
            @Html.TextBox("email","",new {@placeholder="Enter registerd email" , @required="required"}) <br>
            @if(@ViewBag.EmailFound=="Valid")
            {
               @Html.Password("password","",new {@placeholder="New Password", @required="required"}) <br />
            }
           else
           {
             <h5><font color="red">@ViewBag.EmailFound</font></h5>
           }
            <input type="submit" value="submit">
           @if(@ViewBag.PasswordChange!=null)
           {
                <h5 style="text-align:center"><font color="green">@ViewBag.PasswordChange</font></h5>
           }
       </center>
   </div>
}