@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.GridTest>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = null;
}
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/scripts/jquery.min.js"></script>
    <script src="/scripts/bootstrap.min.js"></script>
</head>
<body>
    <header>@Model.Content.GetPropertyValue("headerText")</header>
    @Html.GetGridHtml(@Model.Content,"gridContent","bootstrap2");
</body>
</html>