@using ContentModels = Umbraco.Web.PublishedContentModels;
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout=null;
}

@* the fun starts here *@
<html>
    <head>
        <title>Umbraco Application</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <script src="/scripts/jquery.min.js"></script>
  <script src="/scripts/bootstrap.min.js"></script>
  </head>
    <Body>
       <nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
        <a class="navbar-brand" href="#"></a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="Page.cshtml"><font color="orange"><h3>Helios</h3></font></a></li>
      
    </ul>
    <ul class="nav navbar-nav navbar-right">
    <li>&nbsp;&nbsp;<h4>
      @Html.ActionLink("Register","Register","LoginSurface")</h4></li>
    </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>&nbsp;<h4>
                @Html.ActionLink("Login |","Login","LoginSurface")
                </h4>
            </li>
        </ul>
  </div>
</nav>
        <div style="margin-left:60px">
            <img src="~/Media/HeliosLogo.png">
        </div>
<div>
    @RenderBody()
</div>
</Body>
</html>
