@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Master.cshtml";
}

@* the fun starts here *@
<div style="Background-color:'grey';">
    <h1>News page</h1>
    <h2>@currentPage.newsTitle</h2>
    <hr>
    <h3>@CurrentPage.newsBodyText<br></h3>
</div>
